.login-wrapper {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(95deg,
      #ffffff 0%,
      #a1cef5 45%,
      #4d81ab 100%);

}

.login-layout {
  width: 1300px;
  height: 620px;
  display: flex;
  border-radius: 22px;
  overflow: hidden;
  background: white;
  box-shadow:
    0 20px 40px rgba(0, 0, 0, 0.25),
    0 0 0 1px rgba(0, 0, 0, 0.05);
}

.login-left {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-right {
  flex: 1;
  padding: 4rem;
  background: linear-gradient(135deg, #5dade2, #85c1e9);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login-right h1 {
  font-size: 2.8rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.login-right p {
  font-size: 1.2rem;
  opacity: 0.95;
  margin-bottom: 2rem;
}

.chatbot-illustration {
  max-width: 100%;
}


.login-card {
  width: 100%;
  max-width: 520px;
  padding: 3rem 3rem;
  /* border-radius: 20px; */
  border: none;
  /* box-shadow: var(--cvq-shadow-lg);
  background: var(--cvq-white); */
}

.login-logo {
  height: 60px;
  margin-bottom: 1rem;
}

.form-label {
  font-size: 1.05rem;
  font-weight: 600;
}

.form-control {
  border-radius: 14px;
  border: 1px solid var(--cvq-gray-300);
  padding: 0.9rem 1rem;
  font-size: 1.1rem;
  padding-right: 3rem;
}


.form-control:focus {
  border-color: var(--cvq-blue-500);
  box-shadow: 0 0 0 0.2rem rgba(30, 123, 217, 0.15);
}

.mb-3.position-relative {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 70%;
  right: 1rem;
  /* spacing from right edge */
  transform: translateY(-50%);
  color: #6c8cff;
  cursor: pointer;
  /* ensures icon stays above input */
}


.password-toggle svg {
  width: 22px;
  height: 22px;
}

.forgot-link {
  font-size: 0.9rem;
  color: var(--cvq-blue-600);
}

.forgot-link:hover {
  text-decoration: underline;
}


input[type="password"],
input[type="text"] {
  padding-right: 2.5rem;
  /* leave space for the icon */
}

/* Remove native browser password reveal icon */
input[type="password"]::-webkit-password-eye {
  display: none !important;
}

input[type="password"]::-ms-reveal {
  display: none !important;
}

.btn-signin {
  background-color: #194d84;
  color: white;
  border-radius: 4px;
  font-size: 20px;
  margin-top: 20px;
  width: 100%;
  border: 10px;
}

.btn-signin:hover {
  background-color: #194d84;
  color: white;
}